<ion-view view-title="Friends">
  <ion-nav-buttons side="right">
    <button class="button button-clear icon ion-ios-plus-empty" ng-click="showFriendships()"></button>
  </ion-nav-buttons>
  <ion-content>
    <button ng-hide="friendships.length" class="button button-full button-energized" ng-click="showFriendships()">
      Challenge Your Friends
    </button>
    <ion-list>
      <ion-item class="item-avatar" ng-repeat="friendship in friendships" type="item-text-wrap">
        <img ng-src="{{ friendship.friend.face() }}">
        <h2>{{ friendship.friend.name() }}</h2>
        <span class="badge badge-assertive">
          {{ friendship.friend.sevenDayCount() }}
        </span>
      </ion-item>
      <div class="item item-divider" ng-show="anyChallengers()">
        Challengers
      </div>
      <ion-item class="item-avatar item-button-right" ng-repeat="request in requests" type="item-text-wrap">
        <img src="http://graph.facebook.com/{{ request.get('sender').fbid }}/picture?type=normal">
        <h2>
          {{ request.get('sender').f_name }}
          {{ request.get('sender').l_name }}
        </h2>
        <button ng-click="accept(request)" class="button button-energized">
          Accept
        </button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
